.game-container {
  position: relative;
  width: 240px;
  height: 208px;
  background: url(/images/map-edit.png) no-repeat no-repeat;
  transform: scale(3);
  image-rendering: pixelated;
  z-index: 1;
}

.player-info {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  display: flex;
  gap: 0.5em;
  align-items: flex-end;

  input {
    width: 150px;
    text-transform: uppercase;
    height: 36px;
  }
}

.visible {
  opacity: 1;
  transition: opacity 0.5s linear;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.player-send-chat {
  z-index: 1;
  position: absolute;
  bottom: 120px;
  display: flex;
  align-items: center;

  input {
    width: 500px;
    height: 40px;
  }

  button {
    width: 90px;
    margin-left: 8px;
  }
}

label {
  display: block;
  font-weight: bold;
}

button {
  height: 44px;
}

input[type="text"],
button {
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  border-radius: 4px;
  outline: 0;
}

input[type="text"] {
  outline: 0;
  padding-left: 0.5em;
  border: 3px solid #222034;
}

input[type="text"]:focus {
  border-color: #f000ff;
}

button {
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: #59ff5a;
  border: 0;
  border-bottom: 2px solid #1e830b;
  cursor: pointer;
}

button:active {
  position: relative;
  top: 1px;
}

/* Characters */
.grid-cell {
  position: absolute;
  width: 16px;
  height: 16px;
}

.Character {
  transition: transform 0.4s;
  display: flex;
  justify-content: center;
}

.Character.you {
  z-index: 1;
}

.Character.you .Character_you-arrow {
  display: block;
}

.Character_you-arrow {
  display: none;
  position: absolute;
  top: -18px;
  left: 5px;
  width: 7px;
  height: 5px;
  background: url(/images/arrow.png) no-repeat no-repeat;
}

.Character_sprite {
  overflow: hidden;
  top: -3px;
  background: url(/images/characters.png);
}

.Character[data-direction="right"] .Character_sprite {
  background-position-x: 16px;
}

.Character[data-color="red"] .Character_sprite {
  background-position-y: -16px;
}

.Character[data-color="orange"] .Character_sprite {
  background-position-y: -32px;
}

.Character[data-color="yellow"] .Character_sprite {
  background-position-y: -48px;
}

.Character[data-color="green"] .Character_sprite {
  background-position-y: -64px;
}

.Character[data-color="purple"] .Character_sprite {
  background-position-y: -80px;
}

.Character_shadow {
  background: url(/images/shadow.png) no-repeat no-repeat;
}

.Character_name-container {
  position: absolute;
  top: -12px;
  font-size: 5px;
  padding: 1px 2px 1px;
  border-radius: 3px;
  background: #333;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}

.Character_coins {
  margin-left: 2px;
  color: gold;
}

.Character_chat {
  padding: 1px 2px;
  font-size: 5px;
  background: white;
  color: #1f1f1f;
  border: 1px solid #333;
  border-radius: 3px;
  position: relative;
  width: fit-content;
  height: fit-content;
  top: -26px;
  font-weight: bold;
  white-space: nowrap;
}

.Character_chat::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -4px;
  border-width: 4px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.Character.you .Character_chat {
  top: -32px;
}

/* Coins */
.Coin_sprite {
  background: url(/images/coin.png) no-repeat no-repeat;
  animation: coinFloat 0.8s linear infinite alternate-reverse, coinRotate 0.8s infinite;
  top: -5px;
}

@keyframes coinRotate {
  0% {
    background: url(/images/coin.png) no-repeat no-repeat;
  }

  16.6% {
    background: url(/images/coin-1.png) no-repeat no-repeat;
  }

  33.3% {
    background: url(/images/coin-2.png) no-repeat no-repeat;
  }

  49.9% {
    background: url(/images/coin-3.png) no-repeat no-repeat;
  }

  66.6% {
    background: url(/images/coin-4.png) no-repeat no-repeat;
  }

  83.3% {
    background: url(/images/coin-5.png) no-repeat no-repeat;
  }

  100% {
    background: url(/images/coin.png) no-repeat no-repeat;
  }
}

@keyframes coinFloat {
  from {
    transform: translateY(0)
  }

  to {
    transform: translateY(5px)
  }
}

.Coin_shadow {
  background: url(/images/coin-shadow.png) no-repeat no-repeat;
}