html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(180deg, #a4d9ff -50%, #7796e5 69.71%, #4e77df 150%);
  // background: linear-gradient(180deg, #0A2342 -50%, #2a4156 69.71%, #3a5872 150%);
  font-family: 'Source Sans Pro', sans-serif;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

#root {
  height: 100%;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

}